body {
	overflow-x: hidden;
	overflow-y: hidden;
}

.menuContainer {
	max-height: calc(100vh - 10rem - 5rem);
	width: 100%;
	position: relative;
}

.menuWrapper {
	width: 100%;
	height: 85vh;
	display: flex;
	align-items: center;
	gap: 20px;
}

.menuMain {
	width: min(600px, 40vw);
	min-width: 600px;
	max-width: min(650px, 40vw);
	height: min(750px, calc(100rem - 10rem - 5rem));
	max-height: min(850px, 70vh);
	background-image: url("./menu_bg_3.jpeg");
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-origin: inherit;
}

.page {
	width: min(100%, 100vw) !important;
	height: inherit !important;
	border-radius: 0 8px 8px 0;
	padding: 2em 2.25em;
}

.pageDisabled {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

@media screen and (max-width: 640px) {
  .page {
    padding: 1rem;
  }

  .menuMain {
    width: min(430px, 90vw) !important;
    min-width: min(430px, 90vw) !important;
  }

  .menuWrapper {
    align-items: flex-start;
  }

}
