node_modules/
.yarc/
.yarn/
build/
coverage/
dist/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next/
.env.local
.env.development.local
.env.test.local
.env.production.local
