---
import SampleMenu from "@/components/SampleMenu";
import Layout from "../../layouts/Layout.astro";
const { searchParams } = Astro.url;
const page = searchParams.get("page") || 1;
let USD_RATE = 26000;

// const resp = await GetCurrencyRate();
// if (resp.status === 200) {
// 	USD_RATE = resp.rates.VND;
// }
---

<Layout>
	<main class="flex justify-center">
		<SampleMenu
			client:load
			currentPage={page as string}
			currencyRate={USD_RATE}
		/>
	</main>
</Layout>
