---
import Footer from "@/components/Footer/index";
import LayoutWrapper from "@/components/LayoutWrapper";
import "../../styles/globals.css";

const title = "Hủ tiếu Ngọc Mai - Kính chào";
---

<!doctype html>
<html lang="en" class="w-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body style="background-image: url(./background.jpeg)">
		<div
			class="container min-h-screen min-w-screen mx-auto"
			style={{ maxWidth: "min(1890px, 100vw)" }}>
			<LayoutWrapper client:load />
			<slot />
		</div>
		<Footer />
	</body>
</html>
